/VocabGroupingToolCore/bin
/VocabGroupingToolCore/obj
/VocabGroupingToolCore/Properties
/vocab_grouping_tool_web/node_modules
/vocab_grouping_tool_web/build
/vocab_grouping_tool_web/build/static/js
vocab_grouping_tool_web/build/static/js/main.d28f0e8e.chunk.js.map
vocab_grouping_tool_web/build/static/js/main.d28f0e8e.chunk.js
vocab_grouping_tool_web/build/static/js/2.d2f2da41.chunk.js.map
vocab_grouping_tool_web/build/static/js/2.d2f2da41.chunk.js
vocab_grouping_tool_web/build/static/css/main.71e0cdef.chunk.css.map
vocab_grouping_tool_web/build/static/css/main.71e0cdef.chunk.css
vocab_grouping_tool_web/build/service-worker.js
vocab_grouping_tool_web/build/precache-manifest.7ef5efc3f4a08f688c6fcbc6759950c1.js
vocab_grouping_tool_web/build/index.html
vocab_grouping_tool_web/build/asset-manifest.json
vocab_grouping_tool_web/build/.DS_Store
vocab_grouping_tool_web/.DS_Store
.DS_Store
