/VocabGroupingToolCore/bin
/VocabGroupingToolCore/obj
/VocabGroupingToolCore/Properties
/vocab_grouping_tool_web/node_modules
/vocab_grouping_tool_web/build
/vocab_grouping_tool_web/build/static/js
vocab_grouping_tool_web/build/static/js/main.d28f0e8e.chunk.js.map
vocab_grouping_tool_web/build/static/js/main.d28f0e8e.chunk.js
vocab_grouping_tool_web/build/static/js/2.d2f2da41.chunk.js.map
vocab_grouping_tool_web/build/static/js/2.d2f2da41.chunk.js
vocab_grouping_tool_web/build/static/css/main.71e0cdef.chunk.css.map
vocab_grouping_tool_web/build/static/css/main.71e0cdef.chunk.css
vocab_grouping_tool_web/build/service-worker.js
vocab_grouping_tool_web/build/precache-manifest.7ef5efc3f4a08f688c6fcbc6759950c1.js
vocab_grouping_tool_web/build/index.html
vocab_grouping_tool_web/build/asset-manifest.json
vocab_grouping_tool_web/build/.DS_Store
vocab_grouping_tool_web/.DS_Store
.DS_Store
VocabGroupingToolCore/Migrations/Application/ApplicationDb/20191126132439_InitialApplicationDbContext.cs
VocabGroupingToolCore/Migrations/Application/ApplicationDb/20191126132439_InitialApplicationDbContext.Designer.cs
VocabGroupingToolCore/Migrations/Application/ApplicationDb/ApplicationDbContextModelSnapshot.cs
VocabGroupingToolCore/Migrations/IdentityServer/PersistedGrantDb/PersistedGrantDbContextModelSnapshot.cs
VocabGroupingToolCore/Migrations/IdentityServer/PersistedGrantDb/20191126132521_InitialIdentityServerPersistedGrantDbMigration.Designer.cs
VocabGroupingToolCore/Migrations/IdentityServer/PersistedGrantDb/20191126132521_InitialIdentityServerPersistedGrantDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/ConfigurationDbContextModelSnapshot.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20191126132544_InitialIdentityServerConfigurationDbMigration.Designer.cs
VocabGroupingToolCore/Migrations/Application/ApplicationDb/20200316065324_InitialApplicationDbContext.cs
VocabGroupingToolCore/Migrations/Application/ApplicationDb/20200316065324_InitialApplicationDbContext.Designer.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20191126132544_InitialIdentityServerConfigurationDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20200316065238_InitialIdentityServerConfigurationDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20200316065238_InitialIdentityServerConfigurationDbMigration.Designer.cs
VocabGroupingToolCore/Migrations/IdentityServer/PersistedGrantDb/20200316065129_InitialIdentityServerPersistedGrantDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/PersistedGrantDb/20200316065129_InitialIdentityServerPersistedGrantDbMigration.Designer.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20191126132544_InitialIdentityServerConfigurationDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20191126132544_InitialIdentityServerConfigurationDbMigration.cs
VocabGroupingToolCore/Migrations/IdentityServer/ConfigurationDb/20191126132544_InitialIdentityServerConfigurationDbMigration.cs
